body {
  background: #384047;
  font-family: sans-serif;
}
div {
  background: #fff;
  padding: 2em;
  max-width: 400px;
  margin: 40px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
  text-align: center;
  font-size: 2em;
}