/**
 * Practice Developed by: Robert Manolis 
 **/

@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {

  /* Colors - R, G, B */ 
  --th-grn: 95, 207, 128;
  --th-grn-hvr: 35, 214, 86;
  --th-gry: 62, 71, 79;
  --th-wht: 250, 250, 250;

  --hdg-clr: rgb(var(--th-grn));
  --text-clr: rgb(var(--th-gry));
  --bg-wht: rgba(var(--th-wht), 0.9);
  --bg-lt: rgba(var(--th-gry), 0.1);
  --bg-dk: rgb(var(--th-gry));
  --bg-grn: rgb(var(--th-grn));
  --bdr-clr-lt: rgba(var(--th-wht), 0.9);
  --bdr-clr-dk: rgba(var(--th-gry), 0.7);
  --text-shd-lt: rgba(var(--th-wht), 0.9);
  --box-shd-mid: rgba(var(--th-gry), 0.3);
  
  /* Elements */
  --bdr-lt: 1px solid var(--bdr-clr-lt);
  --bdr-dk: 1px solid var(--bdr-clr-dk);
  --box-shd: 2px 2px 3px var(--box-shd-mid);
  --box-shd-ins: 1px 1px 3px var(--box-shd-mid) inset, 3px 3px 5px var(--box-shd-mid);
}

* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
	text-align: center;
}

header {
  width: 100%;
  background: var(--bg-dk);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: var(--box-shd);
}

header div {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

h1 {
  display: block;
  color: white;
  text-shadow: 1px 1px 0 black;
  margin: 0 auto;
  margin-right: 60px;
  padding: 20px 0;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.info {
  float: right;
  text-align: right;
  width: 175px;
  margin-top: -65px;
}

.info p {
  color: var(--hdg-clr);
  text-shadow: 1px 1px 0 black;
  margin: 5px auto;
}

.game-board {
  display: flex;
  flex-flow: row wrap;
  max-width: 768px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 4px;
  background: var(--bg-dk);
  border: var(--bdr-lt);
  box-shadow: var(--box-shd-ins);
}

.player {
  display: inline-block;
  margin: auto;
  padding: 25px;
  background: var(--bg-wht);
  border-radius: 4px;
  border: var(--bdr-lt);
  box-shadow: var(--box-shd-ins);
}

.mike {
  width: 150px;
}

.mike-2 {
  filter: hue-rotate(180deg);
}

.score {
  font-size: 2.5em;
  font-weight: bolder;
  color: rgba(50, 50, 50, 0.9);
  margin: 10px auto auto;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

form {
  width: 100%;
}

.control-btn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  outline: none;
  color: white;
  width: 125px;
  height: 50px;
  margin-top: 35px;
  background: rgba(var(--th-grn));
  border: 1px solid rgba(50, 50, 50, 0.9);
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.7);
  transition: all 0.4s ease-out;
}

.control-btn:hover {
  background: rgba(var(--th-grn-hvr), 0.9);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.7);
}

.help-container {
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 15px;
}

.help-container p {
  margin-bottom: 0;
}

.help-container a {
  text-decoration: none;
  color: var(--bg-grn);
}

.help-container a img {
  width: 20px;
  margin-bottom: -2px;
}

.winner {
  color: rgba(25, 215, 75, 0.7);
}

.loser {
  color: rgba(250, 50, 50, 0.9);
}

.tie {
  color: rgba(50, 50, 50, 0.7);
}