/**
 * Project Warm Up
 * What's the deal with functions? - CSS
 * Styles.css, Index.html Developed by: Robert Manolis
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {

  /* Colors - R, G, B */ 
  --th-grn: 95, 207, 128;
  --th-grn-hvr: 35, 214, 86;
  --th-gry: 62, 71, 79;
  --th-wht: 250, 250, 250;

  --hdg-clr: rgb(var(--th-grn));
  --text-clr: rgb(var(--th-gry));
  --bg-wht: rgba(var(--th-wht), 0.9);
  --bg-lt: rgba(var(--th-gry), 0.1);
  --bg-dk: rgb(var(--th-gry));
  --bg-grn: rgb(var(--th-grn));
  --bdr-clr-lt: rgba(var(--th-wht), 0.9);
  --bdr-clr-dk: rgba(var(--th-gry), 0.7);
  --text-shd-lt: rgba(var(--th-wht), 0.9);
  --box-shd-mid: rgba(var(--th-gry), 0.3);
  
  /* Elements */
  --bdr-lt: 1px solid var(--bdr-clr-lt);
  --bdr-dk: 1px solid var(--bdr-clr-dk);
  --box-shd: 2px 2px 3px var(--box-shd-mid);
  --box-shd-ins: 1px 1px 3px var(--box-shd-mid) inset, 3px 3px 5px var(--box-shd-mid);
}

/* :root {
  --th-green: rgb(95, 207, 128);
  --th-green-hover: rgb(35, 214, 86);
  --th-bg-color-full-alpha: rgb(62, 71, 79);
  --th-bg-color-three-quarter-alpha: rgba(62, 71, 79,);
  --th-bg-color-med-alpha: rgba(62, 71, 79, 0.5);
  --th-bg-color-quarter-alpha: rgba(62, 71, 79, 0.25);
  --th-bg-color-light-alpha: rgba(62, 71, 79, 0.1);
  --soft-white: rgba(250, 250, 250, 0.9);
} */

* {
	box-sizing: border-box;
}

body, 
html {
	width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: var(--th-bg-color-light-alpha);
}

header {
  width: 100%;
  background: var(--bg-dk);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: var(--box-shd);
}

header div {
  width: 100%;
  max-width: 950px;
  margin: auto;
}

h1 {
  display: block;
  color: white;
  text-shadow: 1px 1px 0 black;
  margin: 0 auto;
  margin-right: 60px;
  padding: 20px 0;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.info {
  float: right;
  text-align: right;
  width: 175px;
  margin-top: -65px;
}

.info p {
  color: var(--hdg-clr);
  text-shadow: 1px 1px 0 black;
  margin: 5px auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 950px;
  margin: 50px auto 0;
  padding: 10px;
  background: rgba(50, 50, 50, 0.1);
  border: 1px solid rgba(60, 60, 66, 0.5);
  border-right-color: transparent;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  box-shadow: 1px 1px 3px rgba(12, 12, 12, 0.5) inset;
}

.item {
  content: "";
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  width: 175px;
  height: 75px;
  margin: 35px auto 45px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.999);
  border: 1px solid rgba(57, 83, 65, 0.3);
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(25, 25, 25, 0.6);
  transition: all 0.4s;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 950px;
  margin: 0 auto;
  padding: 25px;
  background: var(--bg-dk);
  border-radius: 0 0 4px 4px;
  border: var(--bdr-dk);
  border-top-color: black;
  box-shadow: var(--box-shd-ins);;
}

.control-btn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  outline: none;
  color: white;
  width: 175px;
  height: 50px;
  margin: auto;
  margin-top: 15px;
  background: rgba(var(--th-grn));
  border: 1px solid rgba(50, 50, 50, 0.9);
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.5);
  transition: all 0.4s ease-out;
}

.control-btn:hover {
  background: rgba(var(--th-grn-hvr), 0.9);
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.7);
}

.help-container {
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 35px;
}

.help-container p {
  margin-bottom: 0;
}

.help-container a {
  text-decoration: none;
  color: var(--bg-grn);
}

.help-container a img {
  width: 20px;
  margin-bottom: -2px;
}