
body {
    color: #fff;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  
  }
  
  main {
    width: 90%;
    max-width: 1080px;
    padding: 40px 0 0;
    margin: 0 auto;
  }
  
  main div {
    width: 55px;
    height: 55px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 55px;
    margin: 5px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
  
  h1 {
    font-size: 3.75em;
  }
  
  h2 {
    font-size: 2.5em;
    font-weight: normal;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.5;
  }