body {
    background: #edeff0;
    padding: 20px 30px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 8px;
    color: #384047;
    line-height: 1.2;
    margin-top: 5px;
  }
  
  h3 {
    margin-bottom: 0;
  }
  
  ul {
    padding: 0 0 0 1em;
    line-height: 1.5;
  }
  
  p {
    color: #222;
    font-size: 1em;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  img {
    width: 150px;
  }
  
  .card {
    box-sizing: border-box;
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .card div {
    text-align: center;
    padding: 1em;
    background-color: #000;
    margin-bottom: 1.5em;
  }
  